{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}

{% block nav %}
{% endblock nav %}

{% block content %}

    <div class="main-content cf">

        <div class="main-content-message">
        <h2>Privacy Policy</h2>
        <p>Centre for Voter Engagement is committed to protecting your privacy. If you sign onto one of our mailing lists or use our contact tools like Vote With Friends NZ, we retain the information you provided primarily to manage our mailing lists, and secondarily to conduct anonymous research into voting behaviour.</p>
        <p>We do not sell our email list. We do not share or distribute your contact information unless specifically stated so, such as when you join a voting block in support of a specific candidate or issue set up by an approved organisation. At that time your contact information becomes subject to the approved organisation's privacy policy.</p>
        <p>We will not make your information publicly available, except what you have allowed us to post on your timeline.</p>
        <p>We will only share information which you submit at the time of notice and will not share any person's information obtained from other past or future elections, knowingly or on purpose.</p>
        <p>If there is a breach of this policy, it will only be done by error, accident, or involuntarily.</p>
        </div>

    </div>

{% endblock %}

