{% load staticfiles %}
{% load thumbnail %}
{% load url from future %}
<html>
    <head>
        <title>Redirecting</title>
        <meta property="fb:app_id" content="{{ facebook_app_id }}" />
        <meta property="og:title" content="Vote with Friends" />
        <meta property="og:description" content="Invite your friends to vote and make them *promise* to vote!" />
        <meta property="og:image" content="https://s3-ap-southeast-2.amazonaws.com/voterregnz.fb/img/appimage.png" />
        <meta property="og:url" content="{{ share_url }}{% url 'main:share' %}" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <script type="text/javascript">
            window.top.location = "{{ facebook_canvas_page }}";
        </script>
    </body>
</html>
